.banner{
    background-image: url("../../img/banner2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

.banner::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}