.receta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: #b99776;
}

.receta__contenido{
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receta__img{
    height: 60%;
    width: 100%;
}

.receta__titulo{
    font-size: 2.4rem;
    font-weight: 300;
    color: #633f1e;
    margin-top: 1rem;
}

.receta__texto {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 1rem;
}

.receta__btn{
    background-color: #b99776;
    color: #633f1e;
    border: solid 2px #633f1e;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}