.receta{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25%;
    background-color: #b99776;
    margin: .5rem;
}

.receta__contenido{
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.receta__img__contenedor {
    width: 100%;
    min-height: 60%;
    max-height: 60%;
}

.receta__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.receta__titulo{
    font-size: 2.4rem;
    font-weight: 300;
    color: #633f1e;
    margin-top: 1rem;
}

.receta__texto {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 1rem;
}

.receta__btn{
    background-color: #b99776;
    color: #633f1e;
    border: solid 2px #633f1e;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}