@media screen and (max-width: 768px) {
   
    /* SECTION: BANNER */
    .banner__contenido{
        padding: 2rem;
        width: 100%;
        align-items: center;
    }
    .banner__titulo {
        text-align: center;
    }
    .banner__texto {
        text-align: start;
    }

    /* SECTION: PRODUCTOS */
    .producto{
        flex-direction: column;
    }
    .producto__img__contenedor {
        min-width: 100%;
    }
    .producto__contenido {
        align-items: center;
        width: 100%;
    }
    .producto__intercalado {
        order: 0;
    }

    /* SECTION: DIFERENCIALES */
    .contenedor__diferencial{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .diferencial {
        margin-bottom: 4rem;
    }
    .diferencial__icono {
        font-size: 7rem;
        margin-bottom: 1.4rem;
    }    
    .diferencial__texto {
        font-size: 1.8rem;
    }

    /* SECTION: RECETAS */
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3)
    }
    /* .recetas__contenido{
        flex-direction: column;
        align-items: center;
    }
    .receta{
        min-width: 90%;
        margin-bottom: 3rem;
    } */
     
    /* SECTION: CONTACTO */
    /* .contacto{
        padding: 1.5rem;
    }
    .contacto__form {
        width: 100%;
    } */

    /* FOOTER */
    /* .footer {
        padding: 1.5rem;
    }
    .footer__contenido {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
    .footer__logo,
    .ubicacion{
        display: none;
    }
    .redes__lista{
        flex-direction: row;
        gap: 2rem;
    } */
}