@media screen and (max-width: 768px) {

    /* HEADER */
    .menu__hamburguesa{
        display: block;
        cursor: pointer;
    }
    .menu__hamburguesa.active{
        display: none
    }
    .hamburguesa__cruz.active {
        display: block;
    }
    .menu__lista{
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        background-color: #2c2c2c;
        right: -100%;
        top: 120px;
        width: 100%;
        transition: 0.3s;
        display: none;
    }
    .menu__item{
        margin-right: 2rem;
    }
    .menu__lista.active{
        right: 0;
        z-index: 99;
        display: flex;
    }

    /* SECTION: BANNER */
    .banner__contenido{
        width: 100%;
        align-items: center;
    }
    .banner__titulo {
        text-align: center;
    }
    .banner__texto {
        text-align: start;
    }

    /* SECTION: PRODUCTOS */
    .producto{
        flex-direction: column;
    }
    .producto__img__contenedor {
        min-width: 100%;
    }
    .producto__contenido {
        align-items: center;
    }
    .producto__intercalado {
        order: 0;
    }

    /* SECTION: DIFERENCIALES */
    .diferenciales{
        width: 100%;
        flex-direction: column;
        padding: 3rem 3rem 0 3rem;
        gap: 2rem;
    }
    .diferencial__icono {
        font-size: 8rem;
        margin-bottom: 2rem;
    }
    
    .diferencial__texto {
        font-size: 3rem;
    }
}





