@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/*RESET*/
:root {
    /*Paleta*/
    --primary-solid: #ffffff;
    --secondary-solid: #070707;
    --accent-solid: #633f1e;

    --bg-light: #b99776;
    --bg-dark: #2c2c2c;

    --font-light: #fdf0d5;
    --font-dark: #633f1e;
    --font-accent: #b99776;

    /*Fonts*/
    --base-font: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    /* font-size: 62.5%;  */
    color: var(--font-light);
    background-color: var(--bg-dark);
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

ul, ol{
    list-style: none;
}