@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

/* SECTION: BANNER */
    .banner {
        background-image: url("../img/banner2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
    }

    .banner::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .banner__contenido {
        padding: 7rem 5rem 7rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;
        margin-left: auto;
        position: relative;
        z-index: 1;
        color:#ffffff;
    }

    .banner__titulo {
        font-weight: 300;
        text-align: end;
    }

    .banner__texto {
        font-weight: 300; 
        text-align: end;
        margin-top: 2rem;
    }

    #btn__marroncito{
        background-color: #b99776;
        border: none;
        color: #fdf0d5;
        padding: 1rem 2.2rem;
        border-radius: 30px;
    }

    .banner__btn:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    }
/* Termina SECTION: BANNER */

/* SECTION: PRODUCTOS */
    .producto {
        display: flex;
        justify-content: space-between;
        background-color: black;
    }

    .productos__titulo {
        color: #b99776;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 2.5rem;
        background-color: #212529;
        margin: 0;
    }

    .producto__img__contenedor {
        /* min-width: 50%; */
        max-width: 50%;
    }

    .producto__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .producto__contenido {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 3rem;
        width: 50%;
    }

    .producto__titulo {
        font-weight: 500;
        color: #b99776;
    }

    .producto__texto {
        font-weight: 300;
        margin-top: 2rem;
        color: #ffffff;
    }

    .producto__texto-destacado {
        color: #b99776;
        margin-top: 2rem;
    }

    .producto__btn {
        background-color: black;
        color: #b99776;
        border: solid 2px #b99776;
        padding: 1rem 2rem;
        font-weight: 700;
        margin-top: 1.6rem;
        margin-bottom: 3rem;
    }

    .producto__intercalado {
        order: -1;
    }
/* Termina SECTION: PRODUCTOS */

/* SECTION: DIFERECIALES */
    .diferenciales {
        background-color:#b99776;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 2rem 3rem 2rem;
    }

    .contenedor__diferencial{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .diferencial {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .diferencial__icono {
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    .diferencial__texto {
        font-size: 1.8rem;
        font-weight: 300;
    }
/* Termina SECTION: DIFERECIALES */