@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/*RESET*/
:root {
    /*Paleta*/
    --primary-solid: #ffffff;
    --secondary-solid: #0c0e0f;
    --accent-solid: #633f1e;

    --bg-light: #b99776;
    --bg-dark: #2c2c2c;

    --font-light: #fdf0d5;
    --font-dark: #633f1e;
    --font-accent: #b99776;

    /*Fonts*/
    --base-font: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    /* font-size: 62.5%;  */
    color: var(--font-light);
    background-color: var(--bg-dark);
}

ul,
ol {
    list-style: none;
}

/* SECTION: BANNER */
    .banner {
        background-image: url("../img/banner2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
    }

    .banner::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .banner__contenido {
        padding: 7rem 5rem 7rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;
        margin-left: auto;
        position: relative;
        z-index: 1;
        color:#ffffff;
    }

    .banner__titulo {
        font-weight: 300;
        text-align: end;
    }

    .banner__texto {
        font-weight: 300; 
        text-align: end;
        margin-top: 2rem;
    }

    #btn__marroncito{
        background-color: #b99776;
        border: none;
        color: #fdf0d5;
        padding: 1rem 2.2rem;
        border-radius: 30px;
    }

    .banner__btn:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    }
/* Termina SECTION: BANNER */

/* SECTION: PRODUCTOS */
    .producto {
        display: flex;
        justify-content: space-between;
        background-color: black;
    }

    .productos__titulo {
        color: #b99776;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 2.5rem;
        background-color: #0c0e0f;
        margin: 0;
    }

    .producto__img__contenedor {
        max-width: 50%;
    }

    .producto__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .producto__contenido {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 3rem;
        width: 50%;
    }

    .producto__titulo {
        font-weight: 500;
        color: #b99776;
    }

    .producto__texto {
        font-weight: 300;
        margin-top: 2rem;
        color: #ffffff;
    }

    .producto__texto-destacado {
        color: #b99776;
        margin-top: 2rem;
    }

    .producto__btn {
        background-color: black;
        color: #b99776;
        border: solid 2px #b99776;
        padding: 1rem 2rem;
        font-weight: 700;
        margin-top: 1.6rem;
        margin-bottom: 3rem;
    }

    .producto__intercalado {
        order: -1;
    }
/* Termina SECTION: PRODUCTOS */

/* SECTION: DIFERECIALES */
    .diferenciales {
        background-color:#212529;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 2rem 3rem 2rem;
    }

    .contenedor__diferencial{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .diferencial {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .diferencial__icono {
        font-size: 5rem;
        margin-bottom: 1rem;
        color: #b99776
    }

    .diferencial__texto {
        font-size: 1.8rem;
        font-weight: 300;
        color:#fdf0d5;
    }
/* Termina SECTION: DIFERECIALES */

/* SECTION: RECETAS */
.swiper {
    width: 600px;
    height: 300px;
}
    .recetas {
        background-color: #212529;
        min-height: fit-content;
        padding-bottom: 5rem;
    }
    .recetas__titulo {
        color: #b99776;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 2.5rem;
        background-color: #212529;
        margin: 0;
    }

    .carousel-inner{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(4, 30%);
    }
    .carousel-item{
        margin: 1rem;
    }
    .card-wrapper{
        max-width: 100%;
        height: 18rem;
    }
    .receta__img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

/* Termina SECTION: RECETAS */

/* SECTION: CONTACTO */
    .contacto {
        background-color: #fdf0d5;
        color: #633f1e;
        padding: 6rem;
    }
    .contacto__titulo {
        color: #633f1e;
        text-align: center;
        margin-bottom: 1rem;
    }
    .contacto__contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacto__texto {
        margin-top: 1.5rem;
        text-align: center;
    }
    .contacto__form {
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    .form__label {
        margin-top: 1.5rem;
    }
    input,
    textarea {
        padding: .5rem;
        border: none;
        background-color: #b99776;
    }
    .form__btn {
        background-color: #fdf0d5;
        color: #633f1e;
        border: solid 2px #633f1e;
        padding: 1rem 2rem;
        font-weight: 700;
        margin: 2.5rem auto;
        width: 50%;
    }
    .form__btn:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    }
/* Termina SECTION: CONTACTO */

/* SECTION: FOOTER */
.footer {
    padding: 3rem;
    background-color: #212529;
}
.footer__contenido {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#lista-footer{
    padding: 0;
}
.index__titulo {
    color: #b99776;
    font-weight: 300;
}
#lista-footer-item {
    font-family: inherit;
    text-decoration: none;
    color: var(--font-light);
}
.index__item {
    margin-top: 1.2rem;
}
.redes__lista {
    display: flex;
    flex-direction: column;
}
.redes__item {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}
.footer__creditos {
    text-align: center;
    margin-top: 6rem;
    color: var(--font-light);
}
/* Termina SECTION: FOOTER */