.cabecera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.cabecera__menu{
    display: flex;
    flex-direction: row;
}

.menu__hamburguesa{
    font-size: 3rem;
    border: solid .5px #070707;
    border-radius: 3px;
    padding: 1rem;
    width: 6rem;
    text-align: center;
    display: none;
}

.hamburguesa__cruz {
    display: none;
    font-size: 3rem;
    border: solid .5px #070707;
    border-radius: 3px;
    padding: 1rem;
    width: 6rem;
    text-align: center;
}

.menu__lista{
    display: flex;
}

.menu__item{
    padding: 2rem;
    font-size: 1.8rem;
}

.menu__item:hover{
    text-decoration:underline;
}
