.producto__contenido{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 3rem;
}

.producto__img{
    max-width: 50%;
    height: auto;
}

.producto__titulo{
    font-size: 3rem;
    font-weight: 300;
    color: #b99776;
}

.producto__texto{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
}

.producto__texto-destacado{
    font-size: 1.6rem;
    color:#b99776;
    margin-top: 2rem;
}

.producto__btn{
    background-color: black;
    color: #b99776;
    border: solid 2px #b99776;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 4rem;
}

.producto__intercalado{
    order: -1;
}